<!DOCTYPE html>
<html>
    <body>
      <div class="container">        
          {% if messages %}
            {% for msg in messages %}
              {{msg}}        
            {% endfor %}
          {% endif %}  
        </div>
        <form method="POST" action> {% csrf_token %}
        
          <h1> User Register</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <div class="line" style="width: 95%;height: 15px;border-bottom: 1px solid white;  position: absolute;">
              <label for="name"><b>Name</b></label>
              <input type="text" placeholder="Enter your name" name="name" id="name">
               
              <label for="gender"><b>Gender</b></label>
              <select name="gender" id="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Trans">Trans</option>
              </select>

              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter your Email" name="email" id="email" >

              <label for="username"><b>Username</b></label>
              <input type="text" placeholder="Enter your username" name="username" id="username">
          
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter your Password" name="psw" id="psw">
          
              <label for="psw-repeat"><b>Confirm Password</b></label>
              <input type="password" placeholder="Confirm your Password" name="psw-repeat" id="psw-repeat">
              <hr>
          
        
              <button type="submit" class="registerbtn"> <a class="nav-link" href="{% url 'home' %}" ></a> Register</button>
            </div>
          <br>
          <br>
          <br>
          <br>
          <br>
            <div class="container signin">
              <p>Already have an account? <a href="#">Sign in</a></p>
            </div>
          </form>
    </body>
</html>
